<form>
    <div class="form-group">
        <label for="title">სათაური</label>
        <input type="text" class="form-control" id="title"  placeholder="სათაური" #title required>
      </div>
    
            <div class="form-group shadow-textarea">
                <label for="exampleFormControlTextarea6">ტექსტი</label>
                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="5" cols="100" placeholder="შეიყვანეთ ტექსტი..." #text  required></textarea>
              </div>
     
          <div class="form-group">
              <label for="author">ავტორი</label>
              <input type="text" class="form-control" id="author"  placeholder="ავტორი" #author required>
            </div>
    <button type="button"  mat-raised-button color="warn"  (click)="AddPost(title.value, text.value, author.value )">დამატება</button>
      </form>