<h1 class="title">ფსიქოლოგია</h1>

<div class='buttndiv'>
  <button  type="button" mat-raised-button color="warn" (click)="OpenDialog()">პოსტის დამატება</button>
</div>







<div class="posts" *ngFor="let item of PsychoArray; let i = index">
<p style="text-align:center;">სათაური: <a class="name">{{item.title}}</a> </p>

<a>{{item.text}}</a>
<p style="float:right; margin-top:1%;">ავტორი: <a class="avtori">{{item.avtori}}</a>  </p>
<hr>
</div>

