.title{
    text-align: center    !important;;
    color:#1848a0    !important;;
}
.buttndiv{
    text-align: center    !important;
}

.posts{
    margin: auto    !important;;
    margin-top: 1%    !important;;
    width: 60%    !important;;
    padding: 10px    !important;;
    font-weight: 650    !important;;

}

.name{
color : #1848a0    !important;;
font-weight: 900    !important;;

}

.avtori{
color : red    !important;
font-weight: 900    !important;;

}



