ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: #1c2d5f;
  }
  
  li {
    float: left;
  }
  
  li a {
      font-size : 20px;
      margin-left: 15px;
    display: block;
    color: #cdb5e2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: white;
  }

  .img{
    width: 80px;
     height: 40px;
     margin-top: 5px;
  }

  .menu{
      font-size: large;
  }

  
  .regbt{
    float: right;
    margin-top: 8px;
    margin-right: 10px;
  }

  .loginbt{
    float: right;
    margin-top: 8px;

  }




  