<ul>
  <li><img  class ="img" src="assets/Logo/logo.png" ></li>
  <li><a routerLink="/home" routerLinkActive="active">კატეგორიები</a></li>
  <li><a class="menu" href="#news">სიახლეები</a></li>
  <li><a class="menu" href="#contact">კონტაქტი</a></li>
  <li><a class="menu" href="#about">ჩვენს შესახებ</a></li>
  <li  class='loginbt'><button mat-raised-button color="primary" (click)="OpenDialog()">შესვლა</button></li>
  <li  class='regbt'><button mat-raised-button color="primary" (click)="OpenDialogreg()">რეგისტრაცია</button></li>
</ul>


<router-outlet></router-outlet>


