<div class="cardd">
    <a href="/psycho"> <img src="assets/Logo/fsiqo.jpg" alt="Avatar" style="width:288px; height: 288px;"></a>
    <div class="container32">
      <h4><b>ფსიქოლოგია</b></h4>
    </div>
  </div>

  <div class="cardd">
      <a href="/politics">  <img src="assets/Logo/politics.jpg" alt="Avatar" style="width:288px; height: 288px;"></a>
      <div class="container32">
        <h4><b>პოლიტიკა</b></h4>
      </div>
      </div>

      
      <div class="cardd">
          <a href="/kulinaria">  <img src="assets/Logo/food.jpg" alt="Avatar" style="width:288px; height: 288px;"></a>
            <div class="container32">
              <h4><b>კულინარია</b></h4>
            </div>
            </div>





           

