.cardd {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)    !important;
    transition: 0.3s    !important;
    width: 15%    !important;
    float:left;
    margin-top: 1%    !important;
    margin-left: 1%    !important;
}
  
  
  /* On mouse-over, add a deeper shadow */
  .cardd:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)    !important;
  }
  /* Add some padding inside the card container */
  .container32 {
    padding: 16px 40px !important;
  }
  