
<style type="text/css">
	.login-form {
		width: 340px;

      margin-top: 2%;
	}
    .login-form form {
    	margin-bottom: 15px;
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div class="login-form">
    <form  method="post">
        <h2 class="text-center">შესვლა</h2>   
        <br>    
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">შესვლა</button>
        </div>
        <div class="clearfix">

            <a href="#" class="pull-right">დაგავიწყდა პაროლი?</a>
        </div>        
    </form>
    <hr>
    <p class="text-center"><a href="#">შექმენი ანგარიში</a></p>
</div>
                               		                            